// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.rails-model-schema {
  padding: 2em;
  table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 1.2em;
    border: 1px solid #cbcbcb;
  }
  thead {
    text-align: left;
    vertical-align: bottom;
  }
  th {
    background-color: #cbcbcb;
    color: #525D64;
  }
  th, td {
    padding: 0.5em 1em;
    border-left: 1px solid #cbcbcb;
  }
}
